

/* Style the general body */
body {
	background-color: #333;
	overflow: auto;
	font-family: 'Trebuchet MS';
	color: white;
}

p {
	background-color: rgba(0, 0, 0, 0.6);
	font-family: 'Trebuchet MS';
	width: 95%;
	padding: 1.4% 2% 10% 4%;
	font-size: 1.3vw; 
	font-weight: normal;
	margin: 0 15%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;

	/*text-align: justify;*/
}

h3 {
	font-weight: normal;
	font-size: 1.8vw;
	text-align: center;
}

/* Style specssssifically the main header area for the home page */
.mainHeader {
	background-image: url(desert.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	padding: 20% 0;
	background-position: center center;
}

/* Style specssssifically the main header for the home page */
.headerText {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 1.4% 0;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.5vw;
	font-weight: normal;
}

.secondHeader {
	background-color: rgba(0, 0, 0, 0.6);
	text-align: left;
	padding: 1.4% 0;
	font-size: 2.1vw;
	font-weight: normal;
	text-align: center center center center;
	padding-left: 4%;
	width: 100%;
	border-bottom: 1px solid;
}

/* Style the buttons */
.button {
	border-radius: 4px;
	color: #DB9864;
	display: block;
	font-weight: 700;
	font-size: 1.3vw;
	width: 200px;
	padding: 20px;
	margin: 30px auto;
	border: 1px solid;
	border-color: #FFF;
	text-align: center;
}

/* Styling the hovered buttons */
.button:hover {
	background-color: #DB9864;
	border: 1px solid #DB9864;
	color: #FFF;
}
																									

