/* style the standard for for the whole body */
* {
	background-color: #333
}

/* Style the general body */
body {
	font-family: 'Trebuchet MS';
	color: black;
	overflow: scroll;
	color: white;
	text-align: center;
}

p {
	font-family: 'Trebuchet MS';
	font-size: 1.3vw; 
	font-weight: normal;
	/*width: 80%;*/
	margin: 0 15%;
	text-align: justify;
}

/* Add the green background to the top navigation bar */
.topnav {
	/*background-color: #4CAF50;*/
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	Color: #f2f2f2;
	/*background-color: black;*/
	background: rgba(0, 0, 0, 0.4); 
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of link on hover */
.topnav a:hover {
	background-color: #FFFFFF;
	/*color: #4CAF50;	*/
}

/* Add a color to the active/current link */
.topnav a.active {
	/*background-color: #4CAF50;*/
	color: white;

}

/* Style specssssifically the main header area for the home page */
.mainHeader {
	background-image: url(desert.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	padding: 20% 10%;
	background-position: center center;
	font-size: 2.5vw;
	font-weight: normal;
}

/* Style specssssifically the main header for the home page */
.headerText {
	
	background-position: center center;
	font-size: 2.5vw;
	font-weight: normal;
	opacity: 1;
	 background-color: transparent !important;
}

.secondHeader {
	text-align: left;
	font-size: 2.0vw;
	font-weight: normal;
	text-align: center center center center;
	width: 40%;
	border-bottom: 1px solid;
}