body {
	font-family: Helvetica;
	color: black;
}

p {
	font-size: 20px;
}

.header {
	font-family: Helvetica;
	color: white;
	text-align: center;
	font-size: 75px;
}

#mainHeader {
	background-image: url(Blendergreenfield.png);
	padding: 500px 100px;
}