/* style the standard for for the whole body */
* {
	background-color: #333
}

/* Style the general body */
body {
	font-family: Helvetica;
	color: black;
	overflow: scroll;
	color: white;
	text-align: center;
}

/* Style all paragraphs */
p {
	font-family: Helvetica;
	font-size: 1.5vw;
}

/* Style the unorganized lists*/
ul {
    /*width: 70%;*/
    padding-left: 40%;
	text-align: left;
	padding-bottom: 1%;
	font-size: 1.5vw;
}

/* Style the unorganized list contents*/
li{
	font-size: 1.5vw;
	
}

/* The contact forum */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	color: black;
	background-color: white;
	width: 100%; /* Full width */
	padding: 12px; /* some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical; /* Allow the user to vertically resize the textare (not horizontally) */
}

/* Style the selection foldout... ie. pick your country */
select option {
	color: white;
}

/* Style the submit button with a specific backgroundcolor etc */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45A049;
}

h3 {
	font-size: 2.2vw;
}

h2 {
	font-size: 1.7vw;
}

/* Style all headers */
.header {
	font-family: Helvetica;
	color: white;
	text-align: center;
	font-size: 6.2vw;
	background-position: center center;
}

/* Trying to format a side by side format */
.child_teamInformation {
	float: left;
	margin-right: 5px;
}

/* Style the buttons */
.button {
	border-radius: 4px;
	color: #4CAF50;
	display: block;
	font-weight: 700;
	font-size: 1.3vw;
	width: 200px;
	padding: 20px;
	margin: 30px auto;
	border: 1px solid;
	border-color: #FFF;
}

/* Styling the hovered buttons */
.button:hover {
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
	color: #FFF;
}

/* Styling the paragraphs */
.pharagraph {
	padding: 2% 10%;
	margin: 2% 10%;
}

/* Style the secondary header */
.secondHeader {
	text-align: left;
	font-size: 4.0vw;
	font-weight: thin;
	padding-left: 30px;
	border-bottom: 2px solid;
}

/* Styling the header for the team page */
.teamHeader {
	font-family: Helvetica;
	/*font-size: 20px;*/
	font-size: 2.0vw;
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	padding-left: 38%;
	padding-bottom: 4.2%;
	padding-top: 1%;
	
}

.teamText
{
		font-size: 1.5vw;
		padding-left: 25%;
}

/* Add the green background to the top navigation bar */
.topnav {
	background-color: #4CAF50;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	Color: #f2f2f2;
	background-color: #4CAF50;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of link on hover */
.topnav a:hover {
	background-color: #FFFFFF;
	color: #4CAF50;	
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;

}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	padding: 20px 20px 50px 20px;
}

/* Styling the header for the team page */
/*
h3 .teamText {
	font-family: Helvetica;
	font-size: 18px;
	text-align: left;
	padding-left: 40%;
	
}
*/

/* Styling the team information*/
#teamInformation {
	width: 45%;
	float:left;
	/*padding-top: 1%;*/
	font-size: 2.5vw;
		
}

/* Styling team pictures */
#teamSymbols{
	width: 45%;
		float:left;
	
}

/* Styling team pictures - specifically pictures */
#teamSymbols img{
	width: 29%;
	padding-right: 10%;
}


/* Style specifically the main header for the home page */
#mainHeader {
	background-image: url(Blendergreenfield.png);
	padding: 18% 5% 10% 5%;
	background-position: center center;
	margin: 50px;
}


